<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myui" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Animation.BombActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".Animation.FlowBlockActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".Chart.ProportionCircularActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".Animation.RotateCircularActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".Chart.ProportionSectorActivity"
            android:launchMode="singleTask"/>

    </application>


</manifest>
